services:
  dev:
    build:
      context: .
    working_dir: /work
    volumes:
      - .:/work:cached
      - cargo_registry:/home/dev/.cargo/registry
      - cargo_git:/home/dev/.cargo/git
      - cargo_target:/work/src-tauri/target
      - pnpm_store:/home/dev/.local/share/pnpm/store
    environment:
      - RUST_BACKTRACE=1
    command: bash

volumes:
  cargo_registry:
  cargo_git:
  cargo_target:
  pnpm_store:
